.auth {
	background: rgba(57, 62, 82, 0.56);
	color: transparent;
	padding: 20px;
	border-radius: 3px;
	color: #fff;
	width: 500px;
	margin: 50px auto;
	border: 1px solid rgba(183, 183, 183);
}
/* .user-navigation li:not(:last-child) {
	padding-left: 5px;
} */
.btn {
	border-radius: 3px;
}
.btn-secondary {
	padding: 0 5px !important;
	background-color: rgba(183, 183, 183)!important;
	color: #000000!important;
	border: none!important;
}
.btn-secondary:hover {
	background-color: #ffffff!important;
	color: #000000!important;
}
.user-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.user-navigation-item {
  list-style: none;
}
.form-group {
	position: relative;
}
.form-group-text-required {
	position: absolute;
	top: 27px;
  left: 0;
  font-size: 15px;
	color: red;
}
.form-control-book {
  padding: .375rem .75rem;
	width: 100%;
	display: block;
	/* -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; */
	height: calc(1em + .5rem + 0.5px) !important;
	background-color: rgb(231, 255, 231)!important;
	color: #000000!important;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
.form-control-required {
	border: 2px solid red;
}